# host variables
ROOT=/path/to/media
DOWNLOADS=/root/downloads
SHOWS=/root/shows
MOVIES=/root/movies
PORT=4735

# change it for different container name
CONTAINER_NAME=hardlinker
NETWORKING=bridge
RESTART_POLICY=always

# build variables default
HARDLINKER_VERSION=0.2.0

# Makefile required
PORTS=\
  -p $(PORT):4735
VOLUMES=\
  -v $(ROOT):/root
NETWORK=--net=$(NETWORKING)
RESTART=--restart=$(RESTART_POLICY)
