# host variables
MEDIA=/path/to/media
DOWNLOADS=/media/downloads
SHOWS=/media/shows
MOVIES=/media/movies
PORT=4735

# change it for different container name
CONTAINER_NAME=hardlinker
NETWORKING=bridge
RESTART_POLICY=always

# build variables default
HARDLINKER_VERSION=0.2.0

# Makefile required
PORTS=\
  -p $(PORT):4735
VOLUMES=\
  -v $(MEDIA):/media
ENVS=\
  -e "HARDLINKER_DOWNLOADS=$(DOWNLOADS)"\
  -e "HARDLINKER_SHOWS=$(SHOWS)"\
  -e "HARDLINKER_MOVIES=$(MOVIES)"
NETWORK=--net=$(NETWORKING)
RESTART=--restart=$(RESTART_POLICY)
